body {
    background-color: rgb(11, 46, 99);

h1 {
    color:rgb(219, 99, 189);
    text-align:center;
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
    .botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
}
