body {
    background-color: rgb(11, 46, 99);
}

h1 {
    color:rgb(219, 99, 189);
    text-align:center;
}

.botao {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    color: var(--main-cinza);
    font-size: 4em;
    background: var(--main-preto);
    text-align: center;
    border: 3px solid var(--main-cinza);
    cursor: pointer;
}
}

